
<h3><%= flash[:notice]%></h3>

Looking for <strong>Microsoft Business Intelligence</strong> developer?<br /><br />
<br />
<p style="line-height: 1.7">
I am a strong MSBI Developer offers 9 years of technical knowledge and the ability to lead cross-functional teams to complete complex,
business-critical projects. Possesses extensive knowledge and keeps constantly updated on changes in the field to remain current. Offers
diversified experience in a variety of technical disciplines combined with excellent customer service skills. Comprehensive understanding
of project lifecycles and able to communicate complex technical concepts to key stakeholders at all organizational levels.
</p>
<br />
<br />

 Looking for a candidate? Feel free to contact me. <br /><br />
